---

Day 1

---

# Keywords in Python

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
len(keyword.kwlist)

35

# Identifiers

- An indentifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another

In [ ]:
# Variable name(Identifier) should not start with a number
1var = 10 # invlaid
var1 = 10 # valid

In [ ]:
# Identifier can't use special symbols except '_'
var2@ = 10 # invalid
var2_ = 10 # valid

In [ ]:
# Keywords can't be used as identifiers
import = 125 # invalid
True = 125 # invalid

# Comments

- Comments are lines that exist in computer programs that are ignored by compilers and interpreters

In [ ]:
# This is Single Line Comment

"""
This is Multi-Line Comment
"""

# Indentation

- Indentation in Python refers to the spaces or tabs at the beginning of a code line. It is used to define the blocks of code, such as those within loops, functions, and classes. Proper indentation is crucial in Python, as it determines the grouping of statements.

# Docstrings

1. Docstrings provide a convenient way of associating documentation with functions, classes, methods or modules.
2. They appear right after the definition of a function, method, vlass, or module.

In [3]:
def square(n):
    """
    Square Function:- This function will return the square of a given number.
    :param n: The number to be squared.
    :return: The square of the number.
    """
    return n * n

print(square(5))  # Output: 25
print(square.__doc__)  # Output: The docstring of the function

25

Square Function:- This function will return the square of a given number.
:param n: The number to be squared.
:return: The square of the number.

# ID of Variable

In [ ]:
p = 30
print(id(p))  # Output: Memory address of the variable p
print(hex(p))  # Output: Hexadecimal representation of the value of p

import sys
print(sys.getsizeof(p))  # Output: Size of the variable p in bytes

print(isinstance(p, int))  # Output: True, since p is an integer

140707914123080
0x1e
28
True

# String Methods

## Slicing

In [22]:
name = "University"

print(name[1:7:])
print(name[-4:-10:-1])

nivers
srevin

# Strip Method

- To remove unwanted spaces

In [24]:
name = "    University   "

print(name.strip())
print(name.lstrip())
print(name.rstrip())

University
University
    University

In [25]:
name = "*****Apple*****"
print(name.strip("*"))

Apple

In [27]:
name = "Apple"
print(name.lower())
print(name.upper())

apple
APPLE

In [31]:
name.replace("p", "x")

'Axxle'

In [32]:
name.count("p")

2

In [33]:
name.startswith("A")

True

In [34]:
name.endswith("e")

True

In [45]:
str1 = "I am Happy"
str2 = str1.split()
print(str2)
str1.split("a")

['I', 'am', 'Happy']

['I ', 'm H', 'ppy']

In [44]:
print(str2[1][0])
print(str2[1][1])

a
m

---

Day 2

---

In [1]:
str3 = "I*am*Happy"
str3.split("*")

['I', 'am', 'Happy']

## Methods to call variable in a string

### format() method

In [2]:
name = "Rahul"
age = 22
print("My name is {} and my age is {}".format(name, age))

My name is Rahul and my age is 22

### f- string() method

In [3]:
print(f"My name is {name} and my age is {age}")

My name is Rahul and my age is 22

In [2]:
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3, item1 and item2 is {2}, {0} and {1} respectively"
print(res.format(item1, item2, item3))

Cost of item3, item1 and item2 is 77, 40 and 55 respectively

In [8]:
str = "WELCOME EVERYONE"
str2 = str.center(100, '*') # Centering the string with '*' padding
print(str2)
str2 = str.center(100)
print(str2)  # Centering the string without padding
print("WELCOME EVERYONE".center(100, '*'))  # Centering directly in print

******************************************WELCOME EVERYONE******************************************
                                          WELCOME EVERYONE
******************************************WELCOME EVERYONE******************************************

In [9]:
mystr = '123456789'
print(mystr.isalpha())  # False, contains digits
print(mystr.isdigit())  # True, contains only digits
print(mystr.isalnum())  # True, contains digits and no spaces

False
True
True

In [11]:
mystr = "My favourite TV Series is \"Game of Thrones\""
print(mystr)

My favourite TV Series is "Game of Thrones"

# List Methods

In [29]:
mylist = ['apple', 'banana', 'cherry', 50, True]
len(mylist)  # Length of the list

5

In [30]:
mylist.append('Orange')  # Adding an item to the end of the list
mylist

['apple', 'banana', 'cherry', 50, True, 'Orange']

In [ ]:
mylist.append('Pen', 'Pencil') # Invalid, append only takes one argument
mylist.extend(['Pen', 'Pencil'])  # Adding multiple items to the list
print(mylist)
print(len(mylist))
mylist.append(['Pen', 'Pencil'])  # Appending a list as a single item
print(mylist)
print(len(mylist))

['apple', 'banana', 'cherry', 50, True, 'Orange', 'Pen', 'Pencil']
8
['apple', 'banana', 'cherry', 50, True, 'Orange', 'Pen', 'Pencil', ['Pen', 'Pencil']]
9

In [33]:
mylist.insert(2, 'Grapes')  # Inserting 'Grapes' at index 2
print(mylist)

['apple', 'banana', 'Grapes', 'cherry', 50, True, 'Orange', 'Pen', 'Pencil', ['Pen', 'Pencil']]

In [34]:
mylist.remove(50) # Removing the first occurrence of 50

In [35]:
print(mylist)

['apple', 'banana', 'Grapes', 'cherry', True, 'Orange', 'Pen', 'Pencil', ['Pen', 'Pencil']]

In [37]:
mylist.pop()  # Removing the last item from the list

['Pen', 'Pencil']

In [38]:
print(mylist)

['apple', 'banana', 'Grapes', 'cherry', True, 'Orange', 'Pen', 'Pencil']

In [39]:
mylist.pop(4)

True

In [40]:
print(mylist)

['apple', 'banana', 'Grapes', 'cherry', 'Orange', 'Pen', 'Pencil']

In [42]:
fruits = ['apple', 'banana', 'cherry', 'orange']
# index = fruits.index(what to search, from where to search, to where to search)
index = fruits.index('banana')  # Finding the index of 'banana'
print(index)  # Output: 1

1

In [43]:
mylist.clear()  # Clearing the list
print(mylist)  # Output: []

[]

In [44]:
mylist2 = mylist.copy()  # Creating a shallow copy of the list
print(mylist2)

[]

In [48]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2) # Merging list2 into list1
print(list1)

[1, 2, 3, 4, 5, 6]

In [49]:
new_list = list1 + list2  # Concatenating two lists
print(new_list)

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [50]:
new_list = new_list + ["One", "Two"]
print(new_list)

[1, 2, 3, 4, 5, 6, 4, 5, 6, 'One', 'Two']

In [ ]:
list1.reverse() # Reversing the order of elements in list1
print(list1)

[6, 5, 4, 3, 2, 1]

In [52]:
list1.sort() # Sorting the list in ascending order
print(list1)

[1, 2, 3, 4, 5, 6]

In [53]:
list1.sort(reverse=True) # Sorting the list in ascending order
print(list1)

[6, 5, 4, 3, 2, 1]

## List Comprehensions

- List Comprehensions provide an elegant wat to create way to crate new lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [ ]:
myString = "WELCOME"
mylist = [i for i in myString] # Converting string to list of characters
print(mylist)

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [63]:
# Q. Genrate a list of even numbers between 0 to 40
even_numbers = [i for i in range(0, 41, 2)]
print(even_numbers)
even_numbers_alt = [i for i in range(0, 41) if i % 2 == 0]
print(even_numbers_alt)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
# Q. Generate a list of squares of numbers from 0 to 9
squared_list = [i * i for i in range(10)]
print(squared_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Q. Genearate a list of numbers between 0 to 200 which are divisible by 3, 9 or 12
divisible_by_3_9_12 = [i for i in range(201) if 1 % 3 == 0 or i % 9 == 0 or i % 12 == 0]
print(divisible_by_3_9_12)

[0, 9, 12, 18, 24, 27, 36, 45, 48, 54, 60, 63, 72, 81, 84, 90, 96, 99, 108, 117, 120, 126, 132, 135, 144, 153, 156, 162, 168, 171, 180, 189, 192, 198]

In [72]:
# Q. Extract numbers from a string
mystr = "one 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
alpha = [i for i in mystr if i.isalpha()]
print(numbers)
print(alpha)

['1', '2', '3', '4', '5', '6', '7', '8', '9']
['o', 'n', 'e', 't', 'w', 'o', 't', 'h', 'r', 'e', 'e', 'f', 'o', 'u', 'r', 'f', 'i', 'v', 'e', 's', 'i', 'x']

# Sets

1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

In [73]:
myset = {1, 2, 2, 3, 4, 5 ,5}
print(myset) # duplicates are removed

{1, 2, 3, 4, 5}

In [74]:
myset = {'one', 'two', 'three', 'four', 'five'}
for i in enumerate(myset):
    print(i)

(0, 'one')
(1, 'five')
(2, 'three')
(3, 'four')
(4, 'two')

## Set Methods

In [75]:
myset.add('six')  # Adding an item to the set
print(myset)

{'one', 'five', 'three', 'six', 'four', 'two'}

In [76]:
myset.update([5, 6, 7])  # Adding multiple items to the set
print(myset)

{5, 6, 7, 'three', 'five', 'six', 'one', 'four', 'two'}

In [77]:
myset.remove(5) # Removing an item from the set
print(myset)

{6, 7, 'three', 'five', 'six', 'one', 'four', 'two'}

In [78]:
myset.discard(6)  # Discarding an item from the set, no error if item not found
print(myset)

{7, 'three', 'five', 'six', 'one', 'four', 'two'}

In [79]:
myset.clear() # clearing the set
print(myset)

set()

In [80]:
del myset # Deleting the set (any object)

## Set Operations

In [82]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [ ]:
# Union of A and B (All elements from both sets, no duplicates)
print(A | B) # using operator
print(A.union(B)) # using method

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
print(A.union(B, C))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [86]:
A.update(B, C) # Updating A with elements from B and C
print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# Intersection
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A & B) # using operator
print(A.intersection(B)) # using method

{4, 5}
{4, 5}

In [ ]:
# Difference
print(A - B) # Elements in A but not in B (using operator)
print(A.difference(B)) # using method
print(B -A) # Elements in B but not in A

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}

In [91]:
print((A - B) | (B - A)) # Symmetric difference (elements in A or B but not both)
print(A.symmetric_difference(B)) # using method
print(A ^ B) # using operator

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [92]:
A = {1,2,3,4,5,6,7,8,9,10}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [93]:
B.issubset(A) # Check if B is a subset of A

True

In [94]:
A.issuperset(B) # Check if A is a superset of B

True

In [95]:
C.isdisjoint(A) # Check if C is disjoint with A (no common elements)

False

# Dictionary

- Dictionary is a mutable data type in Python. A python dictionary is a collection of a key and value pairs separated by a colon (:).

1. Keys are unique and immutable.
2. Values can be of any data type and can be duplicated
3. Dictionaries are unordered collections of items.

In [97]:
mydict = {
    1: "one",
    2: "two",
    3: "three"
}
print(mydict)
print(mydict.keys()) # Get all keys of the dictionary
print(mydict.values()) # Get all values of the dictionary
print(mydict.items()) # Get all key-value pairs of the dictionary

{1: 'one', 2: 'two', 3: 'three'}
dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [98]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary with keys from 'keys' and default value None
print(mydict3)

{'a': None, 'c': None, 'd': None, 'b': None}

In [99]:
keys = {'a', 'b', 'c', 'd'}
value = 100
mydict3 = dict.fromkeys(keys, value) # Create a dictionary with keys from 'keys' and default value 100
print(mydict3)

{'a': 100, 'c': 100, 'd': 100, 'b': 100}

In [100]:
keys = ['a', 'b', 'c', 'd']
value = [10, 20, 30, 40]
mydict4 = dict(zip(keys, value)) # Create a dictionary by zipping keys and values together
print(mydict4)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [106]:
mydict = {
    'Name': 'Asif',
    "ID": 74123,
    'DOB': 1991,
    'Job': 'Analyst'
}
print(mydict['ID']) # Accessing value by key

74123

In [105]:
mydict.get('ID') # Accessing value by key using get method
print(mydict.get('ID', 'Not Found')) # Accessing value by key with default value if key not found

Not Found

In [107]:
mydict['Job'] = 'ML Engineer' # Updating value for an existing key
print(mydict)

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'Job': 'ML Engineer'}

In [110]:
mydict.update({'Job': 'Data Scientist'}) # Updating value for an existing key using update method
mydict.update({'Salary': 100000}) # Adding a new key-value pair
print(mydict)

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'Job': 'Data Scientist', 'Salary': 100000}

In [111]:
mydict.pop('Job') # Removing a key-value pair by key
print(mydict)

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'Salary': 100000}

In [112]:
mydict.popitem() # Removing the Last inserted key-value pair
print(mydict)

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991}

In [ ]:
all(mydict)  # Check if all keys are truthy (not empty, not None, etc.)

True

In [116]:
any(mydict) # Returns True if any key of dictionary has True value, otherwise false

True

# Function

In [2]:
def sum(a, b):
    return a + b

sum(50, 50)

100

## Function with Arbitary Arguments

In [16]:
# Functions with Arbitary Arguments
def sum_arg(*a):
    result = 0
    for i in a: result = result +i
    return result

sum_arg(10,8,2,5,8)

33

In [15]:
# Function with default parameters
def sum_with_deafult(a, b=10):
    return a + b

sum_with_deafult(50)

60

In [3]:
# Function with keyword arguments
def person_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

person_details(name="Alex", age=25, city="New York")

name: Alex
age: 25
city: New York

## Recursive Function

In [ ]:
# Factorials Program
def factorial(n):
    if n == 1: return 1
    else: return n * factorial(n - 1)

factorial(5)

120

In [7]:
# Sum of n natural numbers
def add(n):
    if n == 1: return 1
    else: return n + add(n - 1)

add(5)

15

## Lambda Function

- Lambda: Low order function
- Filter, Map, Reduce: High order function

<br>

- A lambda function is an anonymous function(function without a name).
- Lambda functions can have any number of arguments but only one expression. The expression is valuate and returned.
- We use lambda functions when we require a nameless function for a short period of time.

In [8]:
addition = lambda a : a +10
print(addition(5))

15

In [ ]:
fact  = lambda n: 1 if n == 1 else n * fact(n -1)
print(fact(5))

120

In [1]:
product = lambda *args: sum(args)
product(10,20,30,40)

100

In [3]:
list1 = [ i for i in range(101)]

even_list = list(filter(lambda x: x % 2 == 0, list1))
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
double_list = list(map(lambda x: x * 2, even_list))
print(double_list)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200]

- The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.

In [7]:
from functools import reduce
sum_list = reduce(lambda x, y: x + y, double_list)
print(sum_list)

5100

# Object-Oriented Programming

## Inheritance

In [10]:
class AI:

    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def learning(self):
        print(f"Yes I am {self.name}, my age is {self.age}, and I am learning AI.")

student1 = AI("Rohit", 23)
student1.learning()

Yes I am Rohit, my age is 23, and I am learning AI.

In [12]:
class person: # Parent/Base Class
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
    
    def personInfo(self):
        print(f"Name:- {self.name}")
        print(f"Age:- {self.age}")
        print(f"Gender:- {self.gender}")

class student(person): # Child/Derived Class
    def __init__(self, name, age, gender, student_id):
        super().__init__(name, age, gender)
        self.student_id = student_id
    
    def studentInfo(self):
        super().personInfo()
        print(f"Student ID:- {self.student_id}")

student1 = student("Devanshu", 20, "Male", 22070521090)
student1.studentInfo()

Name:- Devanshu
Age:- 20
Gender:- Male
Student ID:- 22070521090

---

Day 3

---

## Polymorhpism

In [5]:
class Animal:
    def __init__(self, name):
        self.name = name
    
    def speak(self):
        pass

class Dog(Animal):
    def speak(self):
        return f"{self.name} says Woof!"

class Cat(Animal):
    def speak(self):
        return f"{self.name} says Meow!"

dog = Dog("Ayush")
print(dog.speak())

cat = Cat("Ayushi")
print(cat.speak())

Ayush says Woof!
Ayushi says Meow!

## Encapsulation

In [ ]:
class ATM:
    def __init__(self, PIN, Card_No, Type):
        self.__PIN = PIN # Private variable
        self._Card_No = Card_No # Protected Variable
        self.Type = Type # Public variable
    
    def get_PIN(self):
        return self.__PIN

customer1 = ATM(1234, 1234567890123456, "Debit")
print(customer1.get_PIN())

1234
1234567890123456

## Abstraction

In [9]:
from abc import ABC, abstractmethod

# Abstract Class
class Payment(ABC):
    @abstractmethod
    def make_payment(self, amount):
        pass

# Concrete Class
class CreditCardPayment(Payment):
    def make_payment(self, amount):
        print(f"Processing credit card payment of ₹{amount}")

# Concrete Class 2
class PayPalPayment(Payment):
    def make_payment(self, amount):
        print(f"Processing PAyPal payment of ₹{amount}")

# Concrete Class 3
class UPIPayment(Payment):
    def make_payment(self, amount):
        print(f"Processing UPI payment of ₹{amount}")

# Function that uses abstraction
def complete_transaction(payment_method, amount):
    payment_method.make_payment(amount)

# Usage
credit_card = CreditCardPayment()
paypal = PayPalPayment()
upi = UPIPayment()

complete_transaction(credit_card, 100)
complete_transaction(paypal, 50)
complete_transaction(upi, 75)

Processing credit card payment of ₹100
Processing PAyPal payment of ₹50
Processing UPI payment of ₹75